body{
	background: url('../images/background.jpg');
	color: #cccccc;
}

h1{
	color: #ffffff;
}

.panel-body{
	color: #000000;
}

#error-alert, #results-panel {
	display: none;
}

.form-control, .panel, .alert{
	border-radius: 0px;
}

.input-lg{
	height: 80px;
	font-size: 30px;
}

.panel-body ul li{
	font-size: 25px;
}

.help-block{
	font-size: 14px;
}

.panel-default > .panel-heading {
	color: #ffffff;
	background-color: #7d2c67;
	border-color: #752763;
	font-size: 15px;
	font-weight: bold;
}